In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('posicao_cbp.csv',sep=';')

In [23]:
df.columns

Index(['DATA_POSICAO', 'NM_PESSOA', 'CPF', 'NR_CONTA_CARTAO', 'TP_CARTEIRA',
       'TP_OPERACAO', 'CD_CLASSIFICACAO', 'DATA_VENCIMENTO',
       'VL_CBP_MODALIDADE_0218', 'VL_CBP_MODALIDADE_0210',
       'VL_CBP_MODALIDADE_0204', 'VL_CBP_MODALIDADE_1304', 'VL_PROVISAO',
       'VL_SALDO_ENCARGO_APROPRIAR', 'VL_OPERACAO', 'TIPO_PESSOA',
       'GARANTIA_REAL', 'COBRANÇA', 'Unnamed: 18'],
      dtype='object')

In [24]:
df.info

<bound method DataFrame.info of       DATA_POSICAO                                          NM_PESSOA  \
0       31/03/2023  PAULO ALBERTO DE SOUZA ANDRADE                ...
1       31/03/2023  MERCIA DE SOUZA SILVA                         ...
2       31/03/2023  DAIANE DE LIMA SANTANA                        ...
3       31/03/2023  GRACILIANO FRANCISCO DOS SANTOS FILHO         ...
4       31/03/2023  CLAUDEMIR DOS SANTOS                          ...
...            ...                                                ...
22762   31/03/2023  MARIA SANDRA DOS SANTOS CONCEICAO             ...
22763   31/03/2023  OSVALDINA SOUZA SANTOS                        ...
22764   31/03/2023  DENIS RIVA SANTOS LEITE                       ...
22765   31/03/2023  ELIZABETE DE SOUZA NERI                       ...
22766   31/03/2023  GILMAR DOS SANTOS FERREIRA                    ...

               CPF  NR_CONTA_CARTAO TP_CARTEIRA TP_OPERACAO CD_CLASSIFICACAO  \
0          2116561      20010370705          PB           P               CC
1          3289443    2002012347283          PB           N               CC
2          6723195     210010054270          PB           N               CC
3          9157859    2002010128789          PB           N               CC
4         12651567    2002012714006          PB           N               CC
...            ...              ...         ...         ...              ...
22762  99978628568    2002013209780          PB           N               CC
22763  99980185520    2002013588195          PB           N               CC
22764  99992710578     140018260932          PB           N               CC
22765  99995743515    2002010664222          PB           N               CC
22766  99999498515    2002010097050          PB           N               CC

      DATA_VENCIMENTO VL_CBP_MODALIDADE_0218 VL_CBP_MODALIDADE_0210  \
0          10/03/2022                2941,71                   0,00
1          20/09/2019                1937,91                   0,00
2          05/10/2021                4559,38                4323,44
3          20/05/2021                2355,07                  65,20
4          15/01/2020                4510,48                   0,00
...               ...                    ...                    ...
22762      10/10/2016                1155,17                3003,23
22763      05/01/2018                 971,38                 591,78
22764      15/02/2020                1285,98                   0,00
22765      10/10/2017                2594,44                   0,00
22766      10/12/2017                7618,95                   0,00

      VL_CBP_MODALIDADE_0204 VL_CBP_MODALIDADE_1304 VL_PROVISAO  \
0                       0,00                   0,00     2941,71
1                       0,00                   0,00     1937,91
2                       0,00                   0,00     8882,82
3                       0,00                   0,00     2420,27
4                       0,00                   0,00     4510,48
...                      ...                    ...         ...
22762                   0,00                   0,00     4158,40
22763                   0,00                   0,00     1563,16
22764                   0,00                   0,00     1285,98
22765                   0,00                   0,00     2594,44
22766                   0,00                   0,00     7618,95

      VL_SALDO_ENCARGO_APROPRIAR VL_OPERACAO TIPO_PESSOA GARANTIA_REAL  \
0                           0,00     2941,71           F    NAO POSSUI
1                        1173,58     3111,49           F    NAO POSSUI
2                        7203,74    16086,56           F    NAO POSSUI
3                           0,00     2420,27           F    NAO POSSUI
4                        2436,63     6947,11           F    NAO POSSUI
...                          ...         ...         ...           ...
22762                   30028,27    34186,67           F    NAO POSSUI
22763                     181,65     1744,81           F    NAO POSSUI
22764                     520,99     1806,97           F    NAO POSSUI
22765                    1436,71     4031,15           F    NAO POSSUI
22766                    5166,16    12785,11           F    NAO POSSUI

             COBRANÇA  Unnamed: 18
0      ADMINISTRATIVA          NaN
1      ADMINISTRATIVA          NaN
2      ADMINISTRATIVA          NaN
3      ADMINISTRATIVA          NaN
4      ADMINISTRATIVA          NaN
...               ...          ...
22762  ADMINISTRATIVA          NaN
22763  ADMINISTRATIVA          NaN
22764  ADMINISTRATIVA          NaN
22765  ADMINISTRATIVA          NaN
22766  ADMINISTRATIVA          NaN

[22767 rows x 19 columns]>

In [26]:
df2 = df.iloc[0:100]

In [27]:
df2.isna().sum()

DATA_POSICAO                    0
NM_PESSOA                       0
CPF                             0
NR_CONTA_CARTAO                 0
TP_CARTEIRA                     0
TP_OPERACAO                     0
CD_CLASSIFICACAO                0
DATA_VENCIMENTO                 1
VL_CBP_MODALIDADE_0218          0
VL_CBP_MODALIDADE_0210          0
VL_CBP_MODALIDADE_0204          0
VL_CBP_MODALIDADE_1304          0
VL_PROVISAO                     0
VL_SALDO_ENCARGO_APROPRIAR      0
VL_OPERACAO                     0
TIPO_PESSOA                     0
GARANTIA_REAL                   0
COBRANÇA                        0
Unnamed: 18                   100
dtype: int64

In [30]:
df2.rename(columns={'NM_PESSOA':'nome'},inplace=True)

C:\Users\5016568\AppData\Local\Temp\ipykernel_16188\2491242825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'NM_PESSOA':'nome'},inplace=True)

In [38]:
df2.loc[0:100,['nome','CPF','VL_OPERACAO','CD_CLASSIFICACAO']]

,nome,CPF,VL_OPERACAO,CD_CLASSIFICACAO
0,PAULO ALBERTO DE SOUZA ANDRADE ...,2116561,"2941,71",CC
1,MERCIA DE SOUZA SILVA ...,3289443,"3111,49",CC
2,DAIANE DE LIMA SANTANA ...,6723195,"16086,56",CC
3,GRACILIANO FRANCISCO DOS SANTOS FILHO ...,9157859,"2420,27",CC
4,CLAUDEMIR DOS SANTOS ...,12651567,"6947,11",CC
...,...,...,...,...
95,IZELDA DE ARAUJO ALVES ...,75772574,"1967,66",CC
96,JACQUELINE SOUZA DE AZEVEDO DANTAS ...,75797569,"57969,07",CC
97,JOAO SANTOS DE CARVALHO ...,76122573,"3165,54",CC
98,JOSE CICERO DA SILVA ...,76377563,"22344,45",CC
99,JOSEILDA DOS SANTOS NASCIMENTO ...,76812596,"1560,84",CC